<h1>Имя филиала</h1>
<ul>
    <li *ngFor="let filial of data$ | async">
        <h3>{{filial.name}}</h3> 
        <button (click)="filial.isHidden = !filial.isHidden">Подробнее</button>
        <ul *ngIf="!filial.isHidden">
            <li *ngFor="let employer of filial.employees">
                <div class="">
                    Имя: {{employer.name}}
                </div>
                <div class="">
                    Должность: {{employer.post}}
                </div>
                
            </li>
        </ul>
    </li>
</ul>

